*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  background-color:#252e39;
}

h1 {
  text-align: center;
  color: #7e8ba3;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

.container{
  background-color: #252e39;
  display: grid;
  text-align: center;
  align-items: center;
}

hr {
  border: 0;
  height: 6px;
  border-radius: 6px;
}

.todo {
  display: flex;
  text-align: left;
}

.wrapper {
  width: 300px;
  height: 30px;
  position: relative;
  display: grid;
  list-style-type: none;
  gap: 3px;
}

.input {
  outline: none;
  width: 100%;
}
